<ng-container>
  <!-- connect wallet button -->
  <app-rubic-button
    *ngIf="needLogin"
    [id]="idPrefix + 'connect-wallet'"
    [ngClass]="{ 'grey-background': !tokensFilled }"
    [loading]="needLoginLoading"
    [appearance]="tokensFilled ? 'secondary' : 'primary'"
    (onClick)="onLogin()"
  >
    {{ 'navigation.login' | translate }}
  </app-rubic-button>

  <!-- update rate button -->
  <ng-container *ngIf="!needLogin && status === TRADE_STATUS.OLD_TRADE_DATA">
    <app-rubic-button
      [attr.rate-is-updated]="true"
      (click)="updateRatesClick.emit()"
      appearance="secondary"
    >
      {{ 'tradePage.rateIsUpdated' | translate }}
    </app-rubic-button>
  </ng-container>

  <ng-container *ngIf="!needLogin && status !== TRADE_STATUS.OLD_TRADE_DATA">
    <ng-container *ngLet="errorText$ | async as errorText">
      <ng-container *ngIf="errorText === null || checkingOnErrors">
        <!-- with approve button -->
        <ng-container *ngIf="needApprove">
          <ng-container *noFrame>
            <div class="buttons">
              <app-rubic-button
                [id]="idPrefix + 'approve'"
                appearance="secondary"
                [loading]="
                  status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
                  status === TRADE_STATUS.LOADING ||
                  checkingOnErrors
                "
                [disabled]="status !== TRADE_STATUS.READY_TO_APPROVE"
                (onClick)="approveClick.emit()"
              >
                Approve
              </app-rubic-button>

              <app-swap-button
                [idPrefix]="idPrefix"
                [status]="status"
                [checkingOnErrors]="checkingOnErrors"
                [buttonText]="buttonText"
                (onClick)="swapClick.emit()"
              ></app-swap-button>

              <div class="buttons__timeline-container timeline">
                <span class="timeline__connector"></span>
                <div
                  class="timeline__point"
                  [attr.disabled]="
                    status === TRADE_STATUS.READY_TO_SWAP ||
                    status === TRADE_STATUS.SWAP_IN_PROGRESS ||
                    status === TRADE_STATUS.DISABLED
                  "
                >
                  1
                </div>
                <div
                  class="timeline__point"
                  [attr.disabled]="
                    status === TRADE_STATUS.READY_TO_APPROVE ||
                    status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
                    status === TRADE_STATUS.DISABLED
                  "
                >
                  2
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *onlyFrame>
            <app-rubic-button
              [id]="idPrefix + 'approve'"
              appearance="secondary"
              [loading]="
                status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
                status === TRADE_STATUS.LOADING ||
                checkingOnErrors
              "
              [disabled]="status !== TRADE_STATUS.READY_TO_APPROVE"
              (onClick)="approveClick.emit()"
            >
              {{ 'Approve' }}
            </app-rubic-button>
          </ng-container>
        </ng-container>

        <div class="analytics">
          <svg style="margin-right: 10px" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 4C7.45 4 7 4.45 7 5V6H6C5.45 6 5 6.45 5 7V17C5 17.55 5.45 18 6 18H7V19C7 19.55 7.45 20 8 20C8.55 20 9 19.55 9 19V18H10C10.55 18 11 17.55 11 17V7C11 6.45 10.55 6 10 6H9V5C9 4.45 8.55 4 8 4ZM18 8H17V5C17 4.45 16.55 4 16 4C15.45 4 15 4.45 15 5V8H14C13.45 8 13 8.45 13 9V14C13 14.55 13.45 15 14 15H15V19C15 19.55 15.45 20 16 20C16.55 20 17 19.55 17 19V15H18C18.55 15 19 14.55 19 14V9C19 8.45 18.55 8 18 8Z" fill="#4AA956"/>
          </svg>
          Analytics
        </div>

        <app-swap-button
          *ngIf="!needApprove"
          [idPrefix]="idPrefix"
          [status]="status"
          [checkingOnErrors]="checkingOnErrors"
          [buttonText]="buttonText"
          (onClick)="swapClick.emit()"
        ></app-swap-button>
      </ng-container>

      <ng-container *ngLet="isMobile$ | async as isMobile">
        <ng-container *ngIf="errorText && !checkingOnErrors">
          <!-- switch network button -->
          <ng-container
            *ngIf="errorType[ERROR_TYPE.WRONG_BLOCKCHAIN] && allowChangeNetwork && !isMobile"
          >
            <app-rubic-button
              [attr.error]="true"
              appearance="secondary"
              [loading]="status === TRADE_STATUS.LOADING"
              (click)="changeNetwork()"
            >
              {{ switchNetworkText }}
            </app-rubic-button>
          </ng-container>

          <!-- error info -->
          <ng-container
            *ngIf="!errorType[ERROR_TYPE.WRONG_BLOCKCHAIN] || isMobile || !allowChangeNetwork"
          >
            <app-rubic-button
              class="error-button"
              [attr.error]="true"
              appearance="secondary"
              [disabled]="true"
            >
              {{ errorText }}
            </app-rubic-button>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
